#setting{
    .searchPane{
        padding:10px 10px 0;
        .row{
            margin-bottom: 15px;
        }
    }
    .el-pagination{
        padding: 20px;
        float:right;
    }
    .el-table{
        .greenTip{
            color:green;
        }
        .redTip{
            color:red;
        }
    }
    .delivery-input{
        display: inline-block;
        margin-left:100px;
    }
}
.tip{
    color:red;
}
.table-wrapper{
 /deep/ .img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        max-height:80px;
        max-width:80px;
        cursor: pointer;
    }
}
}
.vue-cropper-wrapper{
    width:600px;
    height:600px;
}