#setting{
    .searchPane{
        padding:10px 10px 0;
        .row{
            margin-bottom: 15px;
        }
    }
    .el-pagination{
        padding: 20px;
        float:right;
    }
    .el-table{
        .greenTip{
            color:green;
        }
        .redTip{
            color:red;
        }
    }
    .delivery-input{
        display: inline-block;
        margin-left:100px;
    }
}
.tip{
    color:red;
}